.consultation {
    &__wrapper {
        max-width: 1000px !important;
        margin: 0 auto;
    }

    &__return {
        margin-top: 90px;
    }

    &__title {
        font-size: 52px;
        color: #000032;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 17px;
        color: #000032;
        margin-right: 30px;
        margin-bottom: 53px;
    }

    &__info {
        margin-top: -20px !important;
    }

    &__name {
        display: block;
        white-space: nowrap;
        font-size: 14px;
        color: #000032;
    }

    &__contacts {
        margin-bottom: 22px;
        visibility: hidden;
    }

    &__contact {
        visibility: hidden;
    }

    &__tel {
        margin-left: 8px;
        text-decoration: none;
        font-size: 16px;
        color: #000032;
    }

    &__mail {
        margin-left: 8px;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        color: #000032;
    }

    &__block {
        margin-right: 52px;
        margin-bottom: 47px;

        &:last-child {
            margin-right: 60px;
        }

        &:nth-of-type(4) {
            display: none;
        }
    }

    &__checkbox {
        width: 20px;
        height: 20px;
        margin-right: 14px;
    }

    &__agree {
        font-size: 14px;
        color: #000032;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 238px;
        height: 58px;
        text-decoration: none;
        background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
        color: #ffffff;
        border-radius: 67px;
        margin-top: 30px;
        margin-bottom: 120px;
        transition: all 2s;

        &:hover {
            color: black;
        }
    }

    &__design {
        font-size: 17px;
        color: #000032;
    }

    &__input {
        width: 918px !important;
    }
}

.star {
    color: #fc3230;
}

input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 50, 0.4);
    width: 270px;
    display: block;
}

.slider {
    padding-top: 93px;

    &__bg {
        background-repeat: no-repeat !important;
        background-image: url(../images/circle-bg.png) !important;
        background-position: 80%;
    }

    &__title {
        font-size: 71px;
        color: white;
        margin-bottom: 35px;

        &-shadow {
            text-shadow: -3.5px 1.5px 0 rgb(2 203 203 / 40%),
                2.5px -2.5px 0 rgb(250 51 46 / 40%);
            color: white;
            font-size: 71px;
            text-align: center;
            display: block;
        }

        &--shadow {
            text-shadow: none;
        }
    }

    &__vr-image {
        padding-top: 116px;
    }

    &__vr-item {
        position: absolute;
        top: 10%;
        right: 170px;
        z-index: -1;
    }

    &__description {
        font-family: "HelveticaNeueCyr", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.breadcrumb {
    &__item {
        position: relative;
        font-family: "HelveticaNeueCyr";
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #ffffff;
        margin-right: 48px;

        &::after {
            content: "/";
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            color: #1e4fc6;
        }
    }
}

.scroll {
    &__item {
        position: relative;
        left: -74px;
        width: 12px;
        top: -54px;
        height: 56px;
        background: #fff;
        border-radius: 6px;
    }

    &__point {
        position: relative;
        top: 13px;
        left: 3px;
        right: 3px;
        width: 6px;
        height: 6px;
        background: #000032;
        border-radius: 100%;
        transition: all 10s;
        animation: totop 1s ease-in-out infinite;

        @keyframes totop {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateY(21px);
            }
        }
    }
}

.virtual {
    display: block !important;

    &__title {
        font-size: 52px;
        color: #ffffff;
        margin-bottom: 26px;
    }

    &__sub-title {
        font-size: 28px;
        color: #ffffff;
    }

    &__description {
        color: #ffffff;
        max-width: 543px;
    }
}

.visualization {
    display: block !important;

    &__title {
        color: #ffffff;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 52px;
    }

    &__sub-title {
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-bottom: 11px;
    }

    &__description {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        margin-left: -75px;
    }

    &__body {
        max-width: 540px;
        height: 100%;
        padding: 8px 56px 30px 23px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }

    &__image {
        margin-bottom: 20px;
    }

    &__info {
        cursor: pointer;
        transition: all linear;
        margin-left: 55px;

        &:hover {
            color: #1e4fc6;
            transform: translateX(10px);
        }
    }

    &__link {
        color: #ffffff;
        text-decoration: none;
        margin-right: 20px;
        transition: 0.3s;
    }

    &__block {
        margin-top: 89px !important;
    }
}

.development {
    padding-top: 26px;

    &__title {
        display: block;
        font-size: 71px;
        margin-bottom: 45px;
        color: white;
    }

    &__description {
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 66px;
    }

    &__link {
        transition: all 0.3s;
        color: white;
        text-decoration: none;
    }

    &__arrow {
        margin-left: 13px;
    }

    &__image {
        width: 1000px;
        object-fit: cover;
    }

    .redirect {
        margin-left: 34px;
        display: block;
    }
}

.arrow {
    margin-left: 20px;
}

.advantages {
    padding-top: 113px;

    &__title {
        margin-left: 120px;
        margin-bottom: 52px;
        font-size: 52px;
        color: #ffffff;
        text-transform: uppercase;
    }

    &__header {
        display: block;
        margin-top: 14px;
        margin-bottom: 6px;
        font-size: 19px;
        color: #ffffff;
    }

    &__description {
        font-size: 14px;
        color: #ffffff;
        max-width: 324px;
    }

    &__wrap {
        margin-bottom: 20px;
    }
}
