@media (max-width: 1399px) {
    .sphere .sphere {
        &__box {
            gap: 20px;
            padding: 15px;
        }

        &__item {
            width: 100%;
        }
    }

    .header .header {
        &__nav {
            padding-top: 140px;
            background-position: center right;
        }

        &-link {
            margin-right: 0;
            font-size: 28px;
        }

        &__tel,
        &__consultation {
            display: none;
        }
    }

    header nav ul li a {
        margin-top: 20px !important;
    }

    #toggle:checked ~ nav {
        background-size: auto !important;
    }

    .virtual .virtual {
        &__description {
            max-width: 300px;
        }
    }

    .development .development {
        &__image {
            width: 100%;
            display: flex;
            justify-content: end;
        }

        &__wrap {
            margin-left: 53px;
        }

        &__link {
            margin-bottom: 1rem;
        }
    }

    .advantages .advantages {
        &__description {
            max-width: 180px;
        }

        &__header {
            font-size: 18px;
        }
    }
}

@media (max-width: 1199px) {
    .slider .slider {
        &__vr-item {
            display: none;
        }

        &__vr-image {
            margin-top: 0;
            padding-top: 0;
        }

        &__title {
            text-align: center;
            font-size: 58px;

            &-shadow {
                font-size: 58px;
            }
        }

        &__description {
            display: flex;
            justify-content: center;
            font-size: 16px;
        }

        &__wrap {
            flex-wrap: wrap-reverse;
        }
    }

    .breadcrumb {
        display: flex;
        justify-content: center;
        margin-top: 109px;
        order: -1;

        &__item {
            letter-spacing: 0 !important;
        }
    }

    .visualization .visualization {
        &__body {
            max-width: 100%;
        }
    }
}

@media (max-width: 1250px) {
    .consultation .consultation {
        &__title {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1024px) {
    .sphere .sphere {
        &__box {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
        }

        &__image {
            opacity: 1 !important;
        }
    }

    .platform {
        &__block {
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        &__description {
            font-size: 32px !important;
            margin-left: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    .development .development {
        &__title {
            font-size: 58px;
        }

        &__description {
            font-size: 16px;
        }
    }

    .design .design {
        &__col {
            padding-top: 0;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 15px;
        }

        &__description,
        &__text,
        &__text--gray {
            font-size: 14px;
        }

        &__desc {
            max-width: none !important;
        }
    }

    .visualization .visualization {
        &__sub-title {
            text-align: left !important;
        }

        &__info {
            margin-left: 0;
        }
    }
    .close {
        display: none !important;
        top: 35px !important;
    }
    .header .header {
        &__lang {
            margin-left: 80px;
            display: none;
        }

        &__logo {
            width: 140px;
            flex: 0 0 160px;
        }

        &__design-date {
            display: block;
            font-size: 17px;
            color: #ffffff;
        }

        &__phone {
            font-size: 17px;
        }
    }

    .consultation .consultation {
        &__contacts {
            margin-top: 82px;
            visibility: visible;
            max-width: 512px;
        }

        &__contact {
            visibility: visible;
            max-width: 600px;
        }

        &__button {
            width: 282px;
            height: 45px;
        }

        &__wrap {
            max-width: 600px;
        }

        &__agree {
            width: 245px;
        }

        &__block {
            margin-right: 42px;
        }

        &__design {
            display: block;
            margin-top: 172px;
        }
    }

    input[type="text"] {
        width: 275px !important;
    }

    .toggle-btn .bar {
        left: 5px !important;
        top: -10px !important;
    }

    .circle {
        display: none;
    }

    .wrapper {
        max-width: 711px !important;
    }

    .virtual .virtual {
        &__title {
            font-size: 32px;
            margin-bottom: 82px;
        }

        &__sub-title {
            font-size: 24px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .advantages .advantages {
        &__top-info {
            flex-direction: column;
            align-items: flex-start !important;
        }

        &__title {
            font-size: 32px;
            margin-left: 55px;
        }
    }
    .sphere .sphere {
        &__title {
            font-size: 32px;
        }

        &__wrap {
            flex-direction: column;
            align-items: flex-start !important;
        }
    }
}

@media (max-width: 767px) {
    .virtual .virtual {
        &__wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__description {
            max-width: 500px;
        }

        &__title {
            margin-bottom: 0;
        }
    }

    .advantages .advantages {
        &__description {
            max-width: 220px;
        }
    }
}

@media (max-width: 703px) {
    .consultation .consultation {
        &__box {
            flex-direction: column;
        }

        &__block {
            margin-right: 0 !important;
        }

        &__wrap {
            display: block !important;
        }

        &__button {
            margin-top: 19px !important;
            margin: auto;
        }

        &__contacts,
        &__contact {
            display: none !important;
        }

        &__design {
            margin-top: 55px;
        }

        &__wrapper {
            margin: 0 !important;
        }
    }
    input[type="text"] {
        width: 100% !important;
    }

    .tell {
        &__block {
            flex-direction: column !important;
            width: 100% !important;
        }

        &__input-block {
            display: none !important;
        }

        &__button {
            width: 100% !important;
        }

        &__number {
            margin: 0 !important;
        }

        &__design {
            display: none !important;
        }

        &__wrap {
            max-width: none !important;
            align-items: flex-start !important;
        }

        &__mail,
        &__number {
            font-size: 18px !important;
            margin-bottom: 20px !important;
        }
    }
}

@media (max-width: 991px) {
    .header .header {
        &__nav {
            background-position: center;
        }

        &__button {
            width: 229px;
        }

        &__lang {
            display: none;
        }
    }

    .tell {
        &__title {
            position: unset !important;
            font-size: 32px !important;
        }

        &__right-title {
            font-size: 20px !important;
        }

        &__img {
            position: absolute !important;
            bottom: 0 !important;
            z-index: -1 !important;
        }

        &__design {
            text-align: center;
            top: 800px !important;
        }

        &__number {
            margin-right: 101px;
        }

        &__info {
            margin-bottom: 80px !important;
        }

        &__wrap {
            display: flex;
            align-items: flex-end;
            max-width: 690px;
        }
    }

    .design .design {
        &__button {
            width: 88px;
            height: 88px;
            margin-left: auto;
            margin-top: 50px;
            margin-right: auto;
            left: 0 !important;
            top: 29%;
            right: 0 !important;
            text-align: center;
            font-size: 11px;
        }
    }

    .decision .decision {
        &__box {
            display: none;
        }

        &__block {
            display: block;
        }

        &__button,
        &__image {
            width: 100%;
        }

        &__popup {
            width: 88px;
            height: 88px;
            margin-left: auto;
            margin-top: 10px;
            margin-right: auto;
            left: 0 !important;
            right: 0 !important;
        }

        &__wrap {
            flex-direction: column;
        }
    }

    .faq-title {
        color: white !important;
    }

    .fap-desc {
        font-size: 15px !important;
    }

    .faq-title:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .faq-title:after {
        content: "";
        display: block;
        border-style: solid !important;
        border-width: 8px 5px 0 5px !important;
        border-color: #fff transparent transparent transparent !important;
        width: 11px !important;
        height: 1px !important;
        position: absolute;
        top: 50% !important;
        margin-left: auto;
        transform: translateY(-50%);
        margin-bottom: 25px !important;
        font-size: 18px !important;
    }

    .faq-input:checked ~ .faq-title:after {
        width: 11px !important;
        height: 8px !important;
        transform: rotate(180deg);
    }

    .faq-text {
        display: none;
        padding: 10px 15px;
        color: #fff;
        font-size: 14px;
    }

    .faq-item {
        &::after {
            display: block !important;
            content: "";
            position: relative !important;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            top: 15px;
        }
    }
}

@media (max-width: 936px) {
    .consultation .consultation {
        &__box {
            display: flex;
            flex-wrap: wrap;
        }

        &__block:nth-of-type(2) {
            order: -1;
        }

        &__block:nth-of-type(3) {
            order: -1;
        }

        &__block:nth-of-type(4) {
            display: block;
        }

        &--block {
            display: none;
        }

        &__wrapper {
            margin-left: 20px;
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__agree {
            margin-right: auto;
        }

        &__button {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .wrapper {
        max-width: 780px !important;
    }
}

@media (max-width: 656px) {
    .header .header {
        &__phone,
        &__button {
            display: none !important;
        }
    }

    header nav ul li a {
        margin-top: 15px !important;
    }

    .burger {
        &__menu {
            margin-left: auto;
        }
    }
}

@media (max-width: 575px) {
    .header .header {
        &__block {
            margin-left: 69px;
        }

        &__design-date {
            display: none !important;
        }

        &__tel,
        &__consultation {
            text-align: center;
            display: block;
        }
    }

    .platform__description {
        font-size: 25px !important;
    }

    .gallery {
        &-title {
            position: static !important;
            font-size: 25px !important;
            text-align: center;
            margin: 0 !important;
            padding-bottom: 20px;
        }
    }

    .design .design {
        &__button {
            margin-top: -50px;
        }
    }

    .advantages .advantages {
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-left: 0 !important;
        }

        &__title {
            margin-top: 45px;
            margin-left: 0;
            font-size: 25px;
        }
    }

    .offset-1 {
        margin-left: 0 !important;
    }

    .development .development {
        &__wrap {
            margin-left: 0;
        }

        &__title {
            font-size: 40px;
            margin-bottom: 18px;
        }

        &__description {
            font-size: 13px;
            margin-bottom: 44px;
        }

        &__arrow {
            display: none;
        }

        &__link {
            width: 100%;
            height: 45px;
            border: 1px solid $primary;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
        }

        &__image {
            position: absolute;
            z-index: -1;
            top: 13%;
            height: 100%;
        }
    }

    .breadcrumb {
        flex-direction: column;
        align-items: center;

        &__item {
            margin-right: 0 !important;
        }
    }

    .platform {
        &__wrap {
            visibility: visible !important;
            display: flex;
            color: white;
        }

        &__button,
        &__desc,
        &__sub-desc,
        &__design {
            visibility: visible !important;
            color: white;
        }
        &__button {
            width: 100% !important;
            margin-bottom: 20px !important;
        }

        &__desc {
            font-weight: 700;
            font-size: 19px;
        }
    }

    .sphere .sphere {
        &__box {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}

@media (max-width: 500px) {
    .header .header {
        &__logo {
            min-width: 100% !important;
        }
    }

    .consultation .consultation {
        &__title {
            font-size: 35px;
        }
    }
}

@media (max-width: 425px) {
    .header .header {
        &-link {
            font-size: 21px;
            color: white;
        }

        &__logo {
            z-index: 0;
        }
    }

    .consultation .consultation {
        &__design {
            text-align: center;
            font-size: 13px;
        }
    }

    .slider .slider {
        &__title {
            font-size: 40px;
            margin-bottom: 6px;

            &-shadow {
                font-size: 40px;
                text-align: left !important;
            }
        }

        &__description {
            font-size: 13px;
        }
    }

    .breadcrumb {
        margin-top: 38px;

        &__item {
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 378px) {
    .slider .slider {
        &__title {
            text-align: left !important;
        }
    }
}

@media (max-width: 325px) {
    .consultation .consultation {
        &__agree {
            margin-left: -9px;
            text-align: center;
            display: block;
            margin-top: -25px;
        }
    }
}
