// Settings
@import "vars";
@import "fonts";
@import "reset";
@import "media";

// Components
@import "header";
@import "footer";

// Pages
@import "index";

html,
body {
    font-family: "NeueMachina", sans-serif !important;
    background-color: #000032 !important;
    font-weight: 400 !important;
    height: 100%;
}

.container {
    max-width: 1404px !important;
    margin: 0 auto !important;
    padding: 0 16px;
}

.header__wrapper {
    max-width: 1516px !important;
    margin: 0 auto !important;
    padding: 0 16px;
}
